.cursosContentWrap{
	background-color: #fff;
	padding: 15px 0;

}

/*Cursos CSS*/
	.courseContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: auto;

	}
	img.cursoIMG{
		width: 125px;
		height: 125px;
	}
	.cursos{
		background-color: #FFF;
		text-align: center;
		padding: 15px;

	}
	.cursoInfo{
		padding: 15px;
	}

	a.masInfo {
		display: inline-block;
		background-color: #225896;
		padding: 10px;
		border-radius:20px;
		color: #fff;
	}