/*Normalize BOOTSTRAP CLASSES-------------------------------------------*/
.navbar {
	margin: 0;
	padding: 0;
}

.jumbotron {
	margin: 0;
	border-radius: 0;
}
p {
	margin:  0;
}
                
/*MODIFICACIONES DE NAVBAR DE BOOTSTRAP.---------------------------------------------*/
.navButton {
	position: fixed;
	right: 15px;
	top: 15px;
	background-color: #225896;
	z-index: 1;
	border: 3px solid black;
	padding: 5px;
	outline: none !important; /* He intentado de mil maneras evitar usar !important. */
}

.navbar-nav{
	text-align: center;
	font-weight: bolder;
	font-family: verdana;

}
#navbarNav {
	background-color: #225896;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 10px;

}
.navbar-light .navbar-nav .nav-link {
	color: #000;
	font-weight: bold;

}

/*Header ----------------------------------------------------*/
.headerMenu{
	background: #225896;
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	text-align: center;
}
.header1{
	width: 100%;
	background-color: #225896;
	padding: 15px 5px;
	text-align: left;

}

.header1 img {
	margin-left: 10px;

}
.header2{
	width: 65%;
	background-color: #225896;
	display: none;
	font-weight: bolder;

}

.header2 ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;

}

.header2 li {
	display: inline-block;
	padding: 15px 10px;

}
.header2 a{
	color:  #fff;
	font-weight: bold;
}

.perfilCss {
	margin-left: 50px;
}

		.main{
			padding: 60px 20px;
			text-align: center;
			

		}
		.h1main{
			color: #000;

		}	

		.submain{
			padding: 25px 0;
			color: #000;
		}
		.submain h4{
			text-align: left;
		}

		.LearnMore_a{
	    display: inline-block;
	    background-color: #225896;
	    padding: 10px;
	    border-radius: 20px;
	    color: #FFF;
	    font-weight: bolder;
	    width: 50%;
	    margin: 15px auto;
	    word-wrap: break-word;
		}
		.LearnMore_a_2{
			background-color: #225896;
		}

		.LearnMore_a:hover {
			color:#b4ceed;
			text-decoration: none; 
		}


	/*Cursos CSS*/
	.courseContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: auto;
		padding: 75px 10px;

	}
	img.cursoIMG{
		width: 125px;
		height: 125px;
	}
	.cursos{
		text-align: center;
		padding: 15px;
	}
	.cursoInfo{
		border: 1px solid black;
		padding: 15px;
		border-radius: 5px;
		box-shadow: 3px 2px #888888;
	}

	.coming_soon{
		color: rgba(0,0,0, 0.4);
		background:rgba(34, 88, 150, 0.7);
	} 
	
	.cursoInfo p {
		padding: 15px;
	}

	a.masInfo {
		display: inline-block;
		text-align: center;
		background-color: #225896;
		padding: 10px;
		border-radius:20px;
		color: #FFF;
		font-weight: bolder;

	}
	a.coming_soon{
		color: rgba(0,0,0, 0.5);
		background:rgba(34, 88, 150, 0.5);
	}

	a.masInfo:hover {
		color: #b4ceed;
		text-decoration:  none;
	}

	div.cursoLink{
		text-align:  center;
		margin: auto;
		width: 100%;
	}


/* Form container */
div.formContainer {
	background-color: lightcoral;
}	
	.login_signup{
		display: flex;
		text-align: center;
	}
	.registro {
		background-color: lightcoral;
		flex: 1;
		display: inline-block;
		padding: 15px;
	}
	.logIn {
		background-color: white;
		flex: 1;
		display: inline-block;
		padding: 15px;
	}


	/* Extra info DIVS */
div.divInfo {
	background-color: steelblue;
	padding: 100px 0;
	text-align: center;
	color: white;
}

.divInfoBg{
	background:  linear-gradient(
	      rgba(0, 0, 0, 0.7), 
	      rgba(0, 0, 0, 0.5)
	      ), url("../img/wordlmap1.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed; 		
}
.divInfoBg_2{
	background:  linear-gradient(
	      rgba(0, 0, 0, 0.7), 
	      rgba(0, 0, 0, 0.5)
	      ), url("../img/home_office.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed; 
}
.h2main {
	padding: 10px 20px;
}
body > div.main > div.main2 > div.error_login_info > p{
	color:  black !important;
	z-index: 10;
}


/*Footer -------------------------------------------------*/

.divBanner{
	background-color: #225896;
	text-align:  center;
	color: #fff;
	font-weight: bolder;
	padding: 20px;
}
.footerWrap{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	
}
.socialContainer{

background-color: white;
display: flex;
flex-direction: column;
align-items:  center;
padding: 15px;

}

.socialmedia {
	margin: 5px 5px;	

}

.socialmedia img{
	width: 50px;
	height: 50px;
	background-color:  black;
	border-radius:  15px;
}

div.proyectInfo{
	text-align: center;
	padding: 15px;

}


div.footerNav{
	padding: 15px;
	background-color: #FFF;
	font-weight:  bolder;

}
div.footerNav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.footerNav ul li {
	padding: 5px 0px;
	color: #000;
}
.footerNav a {
	color:  #000;
}

nav > ul > li > a:hover {
	color:  #b4ceed;
	text-decoration: none;
}


div.copyright{
	background-color: black;
	text-align: center;
	padding: 15px;
	color: white;

}