/* CursoINFO */
.cursoHtmlwrap{
	background-color: #fff;
	margin: 15px;
	display: flex;
	flex-direction: column;

}
.cursoWrap{
	background-color: #fff;
	width: auto;
	margin: auto;
	padding: 10px;

}
.cursoIMG2{
	width: 100px;
	display: block;
	margin: auto;
}
div .cursoWrap h2{
	padding: 10px 0 5px;
	text-align: center;
}
.cursoDescripcion{
	overflow: hidden;
	border:  1px solid black;
	box-shadow: 3px 2px #888888;
	padding: 20px;
	border-radius: 5px;


}

.leccionesWrap{
	background-color: #fff;
	margin: 20px auto;
	width: 100%;
	box-shadow: 3px 2px #888888;
	padding: 20px;
	border:  1px solid black;
	border-radius: 5px;

}

		/* Lecciones */
		.leccion{
			margin:  15px 15px;

		}
		.leccion h3 {
			background-color: #225896;
			border-radius: 5px;
			padding: 10px;
		}
		.leccion p{
			padding-bottom: 20px;
		}
		.wrapSublecciones {
			background-color: #fff;
		
		}

			.subleccion{
				padding: 10px;
				border-top:  1px solid #225896;

			}

.CursoImagenes{
	margin: 15px auto;
	padding: 20px;
	background-color: #fff;
	width: 100%;

}

div.empezar_curso{
	margin-top: 15px;

}
