div.curso_activo_wrap{
	display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 75px auto;
    border: 1px solid black;
    box-shadow: 3px 2px #888888;
    border-radius: 5px;
    width: 75%;
}

.Pregunta_container{
    margin-top: 30px;
    margin-bottom: 45px;
}


/* The container */
.respuesta_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

.respuesta_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.respuesta_container:hover input ~ .checkmark {
    background-color: #ccc;
}

.respuesta_container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.respuesta_container input:checked ~ .checkmark::after {
    display: block;
}

.respuesta_container .checkmark::after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

input[name="Enviar_respuesta"] { 
   display: block;
   width: 150px;

}

.respuesta_submit{
    margin-top: 50px;

}

.button_submit {
    background-color: #225896;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_submit:hover {  
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}

