.profile_wrap{
		margin: 50px auto;
}

.user_wrap{
	display: flex;
	flex-direction: column;
	padding: 40px;
	margin: 15px; 
	border:  1px solid black;
	box-shadow: 3px 2px #888888;
	border-radius: 5px;
}

.basic_info {
	word-break: break-all;
	text-align: left;
	margin-bottom: 15px;

}

.log_out_change_info>a, .log_out_change_info>button, #borrar_user{
    display: block;
    background-color: #000;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    color: #FFF ;
    font-weight: bolder;
    width: 75%;
    max-width: 250px;
    margin: 15px 0;
    word-wrap: break-word;
    text-align: center;	
  	outline-style: none;
}

.flex_cerrar_borrar{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.log_out_change_info>a, #borrar_user{
	display: inline-block;
	cursor: pointer;

}

button.editar_a {
	background-color: #225896;
	cursor: pointer;
	border-radius: 20px;
}
.editar_a:hover,.editar_a:active,.editar_a:focus{
	color: #b4ceed;
	outline:0;
	
}

.inputWrapper{
	padding: 10px 0 10px;
}


/* FORM edit_info */

.edit_info{
	padding: 15px;
	display: none;
}

form.form_wrap{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

div.input_Wrap{
	padding-bottom: 25px;
}

.input_Wrap label {
	width: 100%;
	display: inline-block;
	text-align: left;
	font-weight: bolder;
}

div.input_Wrap input:focus {
	outline: none;
    border:2px solid #225896;
    box-shadow: 0 0 2px #225896;

}

.input_Wrap input{
	width: 100%;
	padding: 3%;
	font-weight: bold;
	text-align: left;
}

div.log_out_change_info a:hover{
	color: #b4ceed;
	text-decoration: none;
}

.button1{
	width:100%;
	padding: 15px 30px;
	margin: 5% auto;
    display: inline-block;
    border-radius: 5%;
    color: #fff;
    font-weight: bolder;
    background-color: #225896;
    outline: none !important;
    border: 0px;
}

div.selector_curso{
	margin:  15px auto;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

}
div.selector_curso img {
	width: 75px;
	height: 75px;
}

div.selector_curso a {
	display: block;
	width: 100px;
	border-radius: 50%;
	padding: 15px;
	margin: 5px;
}

/* Borrar usuario */

	.p_form_borrar{
		padding: 15px;
	}

	.boton_borrar{
		cursor: pointer;
		margin: 10px 20px;
		padding: 10px;
		font-weight: bold;
		border: 0;
	    border-radius: 0.25em;	    
	    color: #fff;
	    font-size: 1.0625em;
	}

	#ok_alert{
		background-color: #3085d6;

	}

	#cancel_alert{
		background-color: #d33;
	}




